@import "/src/less/_variables.less";

.tab {
  background-color: #fff;

  &.right {
    border-right: solid 5px transparent;
  }
  &.bottom {
    border-bottom: solid 5px transparent;
  }
  &.left {
    border-left: solid 5px transparent;
  }
  &.top {
    border-top: solid 5px transparent;
  }

  // transition: all 300ms ease;

  color: @D1;

  cursor: pointer;
  user-select: none;

  .svg-inline--fa {
    margin-right: 10px;
  }

  &.selected {
    // flex: 2;
    font-weight: 700;
    border-color: @P1;
    background-color: @L3;
    color: @P1;
  }
  &:hover:not(.selected) {
    color: @D2;
    background-color: @L4;
  }
}
