@import "../../../less/_variables.less";

.real-select {
  display: none;
}

.number {
  //align-self: start;
  position: relative;
  z-index: 5;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: @control-border;
  border-radius: 6px;
  background-color: @control-bg;
  padding: 5px 6px;
  margin-block: 2px;
  cursor: pointer;
  overflow: hidden;

  &:focus {
    background-color: white;
  }
  &.active {
    transition: @control-transition;
  }

  &:hover {
    box-shadow: @control-shadow;
  }
  &:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-left-width: 7px;
    border-right-width: 7px;
    border-top-color: @P2;
    position: absolute;
    right: 7px;
    top: 7px;
    transform: translateY(3px) rotateX(0);
  }
  &.active {
    &:after {
      transform: translateY(-3px) rotateX(180deg);
    }
  }
}
