@import "/src/less/_variables.less";

.button {
  padding: 12px;
  border-radius: 9px;
  font-size: 1rem;
  color: white;
  background-color: @control;
  transition: @control-transition;
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
  user-select: none;

  cursor: pointer;

  svg {
    margin-right: auto;
    font-size: 20px;
  }

  &:hover {
    background-color: @control-hover;
  }
  &:active {
    background-color: @control-active;
    transition: unset;
    // outline: @accent-border;
  }

  &.unchanged,
  &.disabled {
    pointer-events: none;
    background-color: var(--L2);
    color: var(--L1);
  }
}
