@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");

/* Colors */
@primary: #7edcce;
@active: #32bba6;
@accent1: rgb(222, 244, 240); //rgb(215, 235, 253);
@accent2: #def0f7;
@disabled: whitesmoke;
@text-color: black;
@text-disabled: grey;
@tab-active: rgb(231, 231, 231);

/* Borders */
@invisible-border: solid 1px transparent;
@primary-border: solid 1px @primary;

/* Dimensions */
@app-height: 100%;
@app-width: 350px;

/* Fonts */
@font-size: 0.75rem;
@font-family: "Inria Sans";

/*  Headings */
.h1() {
  font-weight: 700;
  font-size: 1.2rem;
}
.h2() {
  font-weight: 300;
  font-size: 1.1rem;
}
