@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");

/** COLORS */

/* Primary colors */
@P1: #0077ff;
@P2: #1d599d;
@P3: rgb(199, 220, 246);

/* Accent color */
@A1: #ea526f;
@A2: #ff375b;
@A3: rgb(246, 228, 231);

/* Dark neutrals */
@D1: desaturate(darken(@P1, 20%), 80%);
@D2: desaturate(darken(@P1, 30%), 80%);
@D3: desaturate(darken(@P1, 40%), 80%);

/* Light neutrals */
@L1: desaturate(lighten(@P1, 25%), 80%);
@L2: desaturate(lighten(@P1, 35%), 80%);
@L3: desaturate(lighten(@P1, 45%), 80%);
@L4: desaturate(lighten(@P1, 55%), 80%);

/* Semantic colors */
@Danger: #9d1d1d;
@DangerLight: desaturate(lighten(@Danger, 60%), 15%);
.Danger() {
  color: @Danger;
  background-color: @DangerLight;
  .border(@Danger);
}
@Warning: #9d8e1d;
@WarningLight: desaturate(lighten(@Warning, 60%), 15%);
.Warning() {
  color: @Warning;
  background-color: @WarningLight;
  .border(@Warning);
}
@Success: #1d9d59;
@SuccessLight: desaturate(lighten(@Success, 60%), 15%);
.Success() {
  color: @Success;
  background-color: @SuccessLight;
  .border(@Success);
}
@Info: #1d8a9d;
@InfoLight: desaturate(lighten(@Info, 60%), 15%);
.Info() {
  color: @Info;
  background-color: @InfoLight;
  .border(@Info);
}

.border(@color) {
  border: 1px solid @color;
}

/* Text */
@text-color: @D2;
@text-disabled: @L1;

@disabled: @L3;
.disabled() {
  color: @text-disabled;
  * {
    color: @text-disabled;
  }
  background-color: @disabled;
}

@control: @P2;
@control-active: @A1;
@control-hover: @P1;
@control-off: @L1;
@control-bg: @L3;
@control-border: solid 1px @L2;
@control-shadow: 0 0 3px @L1;
@control-transition: 100ms all ease;

/* Borders */
@invisible-border: solid 1px transparent;
@accent-border: solid 1px @A1;

/* Dimensions */
@app-height: 100%;
@app-width: 390px;

/* Fonts */
@font-size: 0.77rem;
@font-family: "Inria Sans";

/*  Headings */
.h1 {
  font-weight: 700;
  font-size: 1.2rem;
}
.h2 {
  font-weight: 700;
  font-size: 1.1rem;
}

//========================

#colorPage {
  padding: 0;
  li {
    display: flex;
    list-style: none;
    height: 90px;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    &:nth-child(1) {
      background-color: @P1;
    }
    &:nth-child(2) {
      background-color: @P2;
      color: white;
    }
    &:nth-child(3) {
      background-color: @P3;
    }
    &:nth-child(4) {
      background-color: @A1;
    }
    &:nth-child(5) {
      background-color: @A2;
      color: white;
    }
    &:nth-child(6) {
      background-color: @A3;
    }
    &:nth-child(7) {
      background-color: @D1;
      color: white;
    }
    &:nth-child(8) {
      background-color: @D2;
      color: white;
    }
    &:nth-child(9) {
      background-color: @D3;
      color: white;
    }
    &:nth-child(10) {
      background-color: @L1;
    }
    &:nth-child(11) {
      background-color: @L2;
    }
    &:nth-child(12) {
      background-color: @L3;
    }
    &:nth-child(13) {
      .Success();
    }
    &:nth-child(14) {
      .Danger();
    }
    &:nth-child(15) {
      .Warning();
    }
    &:nth-child(16) {
      .Info();
    }
  }
}
