/* || Root */

:root {
  /* Dimensions */
  --row-height: 24px;
  --row-padding: 3px;
  --row-total-height: calc(var(--row-height) + (var(--row-padding) * 2));
  --favicon-height: 16px;

  /* Colors */
  --primary: #7edcce;
  --active: #32bba6;
  --accent1: rgb(215, 235, 253);
  --accent2: #f7e9de;
  --disabled: whitesmoke;
  --text-color: black;
  --text-disabled: grey;
  --tab-active: rgb(231, 231, 231);

  /* Fonts */
  --main-font: "Inria Sans";

  /* Borders */
  --invisible-border: solid 1px transparent;
  --primary-border: solid 1px var(--primary);
}

/* || Fonts */

@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
body,
input,
select,
button,
li,
h1,
h2 {
  font-family: var(--main-font);
}

/* || Headings */

h1 {
  font-weight: 700;
  font-size: 16pt;
}
h2 {
  font-weight: 300;
  font-size: 14pt;
}

/* || Buttons and input */

button {
  background-color: var(--tab-active);
  position: relative;
  border-radius: 6px;
  height: 30px;
  width: 85px;
  padding: 3px;
  margin: 0 5px 0 0;
  outline: none;
  border: var(--invisible-border);
  cursor: pointer;
  transition: top 200ms, background-color 200ms, border 200ms, font-weight 200ms;
}
button:hover {
  top: -1px;
  border: var(--primary-border);
}
button:active {
  background-color: var(--primary);
}

input[type="range"] {
  overflow: visible;
  position: relative;
  top: -2px;
  -webkit-appearance: none;
  background-color: lightgrey;
  margin-right: 10px;
  border-radius: 10px;
  border: var(--invisible-border);
  transition: border 200ms;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  width: 9px;
  position: relative;
  top: -2px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: var(--active);
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--primary);
}
select {
  width: 100%;
  border: none;
  background-color: whitesmoke;
  transition: border 200ms;
  border: var(--invisible-border);
  padding: 2px;
}
input:focus,
select:focus {
  outline: none;
}
.li-input {
  border: none;
  font-size: 8pt;
  outline: none;
  height: 18px;
  width: 160px;
  margin: 3px 10px;
}
.li-btn {
  font-size: 8pt;
  height: 22px;
  width: 60px;
  padding: 2px;
  margin: 3px 10px 3px 0 !important;
  background-color: transparent;
}
.li-btn:hover {
  top: 0px;
  font-weight: 700;
  border: var(--invisible-border);
}
.hidden-btn {
  display: none;
}

.defaultCursor {
  cursor: default !important;
}
.new-provider-fields {
  width: 100%;
  margin: 20px 0 10px 0;
  background-color: whitesmoke;
  border-radius: 5px;
  display: block;
}
.new-provider-fields label {
  display: inline-block;
  width: 25%;
  font-size: 8pt;
  text-align: right;
}
.new-provider-fields i {
  display: inline-block;
  width: 3%;
  color: cadetblue;
  font-size: 10pt;
  cursor: help;
  margin: 0 4px;
}
.new-provider-fields input {
  display: inline-block;
  width: 165px;
  margin-bottom: 10px;
}
.new-provider-fields input:focus::placeholder {
  color: transparent;
}
.new-provider-fields button {
  margin-top: 10px;
}
.spanbtn {
  font-size: 10pt;
  font-weight: 700;
  margin: 15px 0;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px 10px;
  width: 90%;
  display: block;
  cursor: pointer;
  border: var(--invisible-border);
  transition: border 200ms, background-color 200ms;
  user-select: none;
}
.spanbtn:hover {
  top: -1px;
  border: var(--primary-border);
}
.spanbtn:not(#addLink):active {
  background-color: var(--primary);
}
.spanbtn i {
  margin-right: 10px;
}

/* || Tabs & alerts */

.tab {
  display: inline-block;
  width: 33%;
  background-color: transparent;
  padding: 5px 0;
  text-align: center;
  cursor: pointer;
  border-bottom: solid 2px lightgrey;
  margin-left: -2px;
  font-weight: 300;
  transition: font-weight 300ms, background-color 300ms, width 300ms;
  user-select: none;
}
.tab.active {
  background-color: var(--tab-active);
  font-weight: 700;
  border-bottom: solid 2px var(--active);
  width: 67%;
}
.tab:hover {
  font-weight: 700;
  background-color: rgb(250, 250, 250);
}
#saved {
  position: fixed;
  margin-left: 260px;
  top: 570px;
  z-index: 999;
  background-color: yellow;
  padding: 4px;
}
.alertPopup {
  position: fixed;
  z-index: 9999;
  top: 30%;
  left: 12%;
  background-color: var(--tab-active);
  width: 70%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.tooltip .text {
  width: 180px;
  background-color: var(--active);
  color: #fff;
  z-index: 2;
  top: -60px;
  left: -60px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  display: none;
  font-size: 9pt;
  font-weight: 300;
  padding: 5px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.inline-block {
  display: inline-block;
}

/* || Lists / Items */

ul {
  padding-inline-start: 0;
  min-height: var(--row-height);
}

.provider-li {
  list-style-type: none;
  list-style-position: inside;
  height: var(--row-height);
  padding: var(--row-padding);
  width: 90%;
  margin: 3px auto;
  border-radius: 10px;
  position: relative;
  top: 0;
  transition: border 200ms, height 200ms;
  cursor: grab;
  border: var(--invisible-border);
  overflow: hidden;
}
.provider-li:hover {
  border: var(--primary-border);
}
#visible .provider-li {
  background-color: var(--accent1);
}
#hidden .provider-li {
  background-color: var(--accent2);
}
#disabled .provider-li {
  background-color: var(--disabled);
}
.expanded-li {
  height: 130px;
}

/* || Row components */

.favicon {
  height: var(--favicon-height);
  margin: 4px 10px;
  user-select: none;
}
.provider-name {
  position: relative;
  bottom: 8px;
  left: 8px;
  user-select: none;
}
.input-fields {
  text-align: right;
  font-size: 7pt;
  font-weight: 700;
}

/* || SortableJS classes */

.drag-class {
  background-color: grey !important;
  color: grey;
  cursor: grabbing;
  pointer-events: none;
  opacity: 0.3 !important;
  display: none;
}
.background-class {
  border: var(--primary-border);
  pointer-events: none;
}
#visible .background-class {
  background-color: rgb(197, 222, 255) !important;
}
#hidden .background-class {
  background-color: peachpuff !important;
}
#disabled .background-class {
  background-color: lightgrey !important;
}

/* || Icons */

.fas,
.far {
  color: grey;
}
.edit-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}
.edit-icon:hover {
  background-color: white;
}

/* || Tables */

#opts-table {
  margin: 10px 0;
}

#opts-table td {
  padding: 15px 0;
}
#opts-table td:first-child {
  width: 40%;
}
#opts-table td:nth-child(2) {
  width: 40%;
}
