@import "/src/less/body.less";
@import "/src/less/_variables.less";
html {
  font-size: 16.5px;
  p {
    line-height: 1.4;
  }
}
html,
body {
  overflow: hidden;
}
.app {
  &:not(.ready) {
    //display: none !important;
  }

  .ocs-header {
    position: sticky;
    box-sizing: border-box;
    box-shadow: 0 0 30px 0px rgb(50 50 100/ 0.2);
    border-bottom-width: 0.5px;
    z-index: 1;

    img {
      height: 22px;
    }

    h1 {
      font-size: 1.1rem;
    }
    :root[data-theme="theme-dark"] & {
      background-color: black;
      box-shadow: none;
    }

    .icons-group {
      margin-left: auto;
      gap: 10px;
    }
  }

  .icon {
    font-size: 18px;

    &.options {
      color: var(--D1);
      &:hover {
        color: var(--P2);
      }
    }
  }

  .page-container {
    padding: 24px;
    height: 530px;
    overflow-y: overlay;
    position: fixed;
    top: 48px;
    right: 0;
    left: 0;
    z-index: 0;
    height: 84%;
  }

  .help-modal {
    height: 100%;
    border-radius: 0;
    overflow-x: hidden;

    &.title-bar-modal .title-area h2 {
      width: 120%;
      margin: -18px -18px -2px -18px;
    }

    .icon {
      position: relative;
      top: 2px;
      padding-inline: 2px;
    }
  }

  .modal.error-alert,
  .modal.confirm {
    position: absolute;
    top: 25%;
    bottom: unset;
    // margin-inline: 5%;
    // width: unset;
    :root[data-theme="theme-dark"] & {
      box-shadow: 0 -10px 76px 20px rgb(255 255 255 / 6%);
    }
    p,
    li {
      font-size: 0.9rem;
    }
    &.error-alert {
      button {
        flex: 0.4;
      }
    }
  }

  // .expanded-open & {
  //   h3,
  //   .sortable-item:not(.expanded) {
  //     filter: opacity(0.75);
  //     cursor: default;
  //     .expand-btn {
  //       cursor: pointer;
  //     }
  //     &:hover {
  //       border-color: transparent;
  //     }
  //   }
  // }
}
