@import "./less/_variables.less";

body {
  margin: 0;

  * {
    font-family: @font-family;
  }

  h1 {
    .h1();
  }
  h2 {
    .h2();
  }

  label,
  p,
  h1,
  li,
  input,
  h2 {
    color: @text-color;
  }

  input:focus,
  select:focus {
    outline: none;
  }
  button {
    border: none;
  }
}
.app {
  min-height: 200px;
  font-size: @font-size;
  width: @app-width;

  #tabContainer {
    box-shadow: 0 0 10px 0px #809b9e;
  }

  #pageContainer {
    padding: 15px;
  }
}
