.main-content {
  margin: 0;
  &.flex-container.row {
    flex-direction: column;
  }
  .tabs-column {
    .tab {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 750px) {
  .main-content {
    margin: auto;
    width: 100%;
    overflow: hidden;
    justify-content: center;

    &.flex-container.row {
      flex-direction: row;
    }
    .main-column {
      width: 460px;
      overflow: auto;
      h2 {
        position: relative;
      }
    }
    .tabs-column {
      position: sticky;
      flex: 1;
      min-width: 200px;
      max-width: 300px;
    }
  }
}

@padding: 15px;
html,
body,
#options {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--L4);
}

#options {
  .options {
    height: 100%;

    > .header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--L1);
      padding: 0 @padding;
      background-color: var(--L3);
      gap: 10px;
      img {
        height: 26px;
      }
      h1 {
        color: var(--A2);
      }
      button {
        margin-left: auto;
        padding: 8px;
      }
    }

    .main-content {
      height: 100%;
      flex: 1;

      > div {
        //height: 100%;
        padding: @padding @padding * 3;
      }
      .tabs-column {
        h1 {
          margin-bottom: 30px;
          color: var(--D1);
        }
      }
      .main-column {
        background: var(--bg);
        overflow: scroll;
      }
    }
  }
}
