@import "../../less/_variables.less";

.management-rows {
  .options-row-container {
    margin-bottom: 30px;
    h3 {
      margin-bottom: 5px;
    }
  }

  .options-row {
    display: flex;
    align-items: center;
    gap: 20px;
    .row-label {
      width: 180px;
    }
    .control {
      flex: 0.7;
      display: flex;
      justify-content: center;
      align-items: center;

      > .slider,
      > .number,
      > .pseudo-select,
      > .Button {
        width: 100%;
        flex: 1;
      }

      &.number-control {
        gap: 10px;
        > .number {
          flex: 2;
        }
        .Button {
          padding: 5px 0;
          border-radius: 5px;
          font-size: 0.85rem;
          &.unchanged {
            pointer-events: none;
            background-color: var(--L2);
            color: var(--L1);
          }
        }
      }
    }
    .indicator {
      display: block;
      padding-inline: 20px;
    }
  }
}
