@import "/src/less/_variables.less";

.popup {
  @OCSsize: 20px;
  @OCSoffsetX: 10px;
  @OCSoffsetY: 26px;

  @padding: 2px;
  @br: 12px;

  @keyframes grow {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  all: initial;

  position: absolute;
  z-index: 9999;

  //padding: @padding;
  //border-radius: @br;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  background-color: var(--L3);
  outline: none;

  user-select: none;

  opacity: 1;

  transform: translate(-(@OCSoffsetX), -(@OCSsize + @OCSoffsetY));

  &.showHidden .OCSicon.hidden {
    display: block;
  }
  &.isFading {
    transition: 2s opacity ease;
    opacity: 0;
  }

  &.animations .OCSicon {
    transition: 0.3s all ease;
    animation: 0.15s ease grow;
    animation-fill-mode: forwards;
    img {
      transition: 0.3s all ease;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    &.functionIcon {
      &.pulsing {
        @keyframes pulse {
          0% {
            scale: 1;
          }
          50% {
            scale: 1.15;
            box-shadow: 0 0 0 1px var(--P1);
          }
          100% {
            scale: 1;
          }
        }

        img {
          box-shadow: 0 0 0 transparent;
          animation: pulse 0.5s ease-in-out 1;
        }
        &:hover img {
          animation: none;
        }
      }
    }
  }

  &.shadow {
    box-shadow: 0 1px 4px @shadow-color;
  }

  & .OCSicon {
    all: initial;
    * {
      all: initial;
    }

    transition: 0.3s background-color ease;

    a {
      outline: none;
      display: table;
      margin: 0 auto;
    }

    &.functionIcon {
      img {
        background-color: var(--L4);
        opacity: 1;
      }
      &:hover img {
        background-color: white;
        outline: solid 1px var(--P1);
      }
    }

    img {
      display: block;
      height: @OCSsize;
      width: @OCSsize;
      padding: 3px;
      opacity: 0.9;
      cursor: pointer;

      user-select: none;
      outline: 1px solid transparent;
      object-fit: contain;
    }
    &:hover img {
      box-shadow: 0 0 2px rgb(0 0 0 / 0.25);

      opacity: 1;
    }

    &.hidden {
      display: none;
    }

    &.disabled {
      display: none;
    }
  }

  // Looped classes
  each(range(10), {
    &.pad-@{value} {
      padding: @value * 1px;
    }
    &.pad-@{index} img {
      margin-inline: ((@value * 1px) / 2) - 1px;
    }
  });
  each(range(30), {
    &.br-@{value} {
      border-radius: @value * 1px;
    }
    &.br-@{index} img {
      border-radius: @value * 1px;
    }
  });
}
